/*.page {
    display:flex;
    flex-direction: column;
    width: 1400px;
    align-items: center;
    justify-self: center;
}*/

.page {
    border: 5px solid black;
    width: 1640px;
}

.head {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    height: 550px;
    width: 1440px;
}

/* Header start */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 700px;
    padding-top: 10px;
}

.header-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-link {
    font-size: 18px;
    background-color: #1F2937;
    color: #E5E7EB;
    margin-left: 20px;
    margin-right: 20px;
    border: 0px;

}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-logo {
    font-weight: 700;
}

.header-links {
    justify-content: space-between;
    font-family: "Monaco", sans-serif;
}

/* Header end */
/* Title start */

.intro {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 50px;
}

.intro-left {
    display: flex-inline;
    flex-direction: column;
    justify-content: center;
    padding-top: 35px;
}

.intro-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    font-family: "Monaco", sans-serif;
    margin-bottom: 5px;;
}

.intro-description {
    font-size: 18px;
    color: #E5E7EB;
    font-family: "Arial", sans-serif;
    margin-bottom: 10px;
}

.intro-button {
    background-color: rgb(87, 186, 243);
    font-size: 15px;
    border-radius: 7px;
    padding: 5px;
    height: auto;
    width: auto;
}

.intro-right {
    display: flex-inline;
}

.image {
    border-radius: 30px;
    width: 550px;
    height: 300px;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

/* Title end */
/* body top start */

.body-top {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    height: 500px;
    width: 1640px;
}

.body-title {
    display: flex;
    align-self: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding-top: 30px;
    font-family: "Monaco", sans-serif;
}

.selection-image {
    height: 175px;
    width: 200px;
    border-radius: 10px;
    border: 5px solid #4483db;
}

.selection-description {
    display: flex;
    text-align: center;
    font-size: 20px;
    font-family: "Monaco", sans-serif;
}

.body-selections {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    border-width: 50px;
    gap: 80px;
}

.choice {
    display: flex-inline;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    padding-top: 50px;
}



/* body top end */

/* body middle start */

.body-middle {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 1640px;
}

.quote {
    display: flex;
    font-size: 36px;
    font-style: italic;
    font-weight: 700;
    color: #1F2937;
    text-align: center;
    width: 900px;
}

.author {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    color: #1F2937;
    margin-left: 600px;
}

/* body middle end */
/* body bottom start */

.body-bottom {
    display: flex;
    width: 1440px;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    padding: 100px;
}

.action {
    display: flex;
    background-color: #4483db;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 1000px;
    border-radius: 7px;
    gap: 200px;
}

.action-left {
    display: flex-inline;
    flex-direction: column;
    gap: 20px;
}

.action-title {
    font-size: 25px;
    font-weight: 700;
    font-family: "Monaco", sans-serif;
    color:#ffffff
}

.action-description {
    font-family: "Monaco", sans-serif;
    color: #ffffff;
}

.action-button {
    background-color: #4483db;
    font-size: 25px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Monaco", sans-serif;
    border-radius: 7px;
    border: 5px solid white;
    padding: 5px;
    height: 50px;
    width: 200px;
}

/* body bottom end */

/* copyright start */

.copyright {
    display: flex;
    background-color: #1F2937;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 1640px;
}

.copyright-info {
    font-family: "Monaco", sans-serif;
    color: #ffffff;
}

/* copyright end */