.page {
    display:flex;
    flex-direction: column;
    width: 1400px;
}

.head {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    height: 550px;
}

/* Header start */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 700px;
    padding-top: 10px;
}

.header-links {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-link {
    font-size: 18px;
    color: #E5E7EB;
    margin-left: 20px;
    margin-right: 20px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

.header-logo {
    font-weight: 700;
}

.header-links {
    justify-content: space-between;
}

/* Header end */
/* Title start */

.intro {
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    padding-bottom: 100px;
    gap: 50px;
}

.intro-left {
    display: flex-inline;
    flex-direction: column;
    justify-content: center;
    padding-top: 35px;
}

.intro-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.intro-description {
    font-size: 18px;
    color: #E5E7EB;
}

.intro-button {
    background-color: rgb(87, 186, 243);
    font-size: 15px;
    border-radius: 7px;
    padding: 5px;
    height: auto;
    width: auto;
}

.intro-right {
    display: flex-inline;
}

.image {
    border-radius: 30px;
    width: 550px;
    height: 300px;
}

/* Title end */
/* body top start */

.body-top {
    background-color: #E5E7EB;
    align-self: center;
    justify-self: center;
    height: 550px;
}

/* body top end */
